.resume {
    position: absolute;
    z-index: 5;
    font-family: 'Open Sans', sans-serif;
    color: #00AFB9;
    margin-left: 30px;
    font-size: 15px;
}

.header {
    font-weight: bolder;
    color: #0081A7;
    font-size: 18px;
}

.title {
    color: #0081A7;
    margin-bottom: 4px;
}

table {
    border-collapse: separate;
    border-spacing: 25px 5px;
}

.tad {
    font-size: 13px;
    margin: 0px;
}

.description {
    margin: 3px;
    font-size: 13px;
    margin-top: 5px;
}

.bigtext {
    position: absolute;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    right: 0;
    padding-right: 20px;
    padding-top: 100px;
    color: #F07167;
    font-size: 147px;
}
