p {
  border: dotted 3pt red;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  display: inline-block;
}

.greenio {
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
}

.reddio {
  background-color: pink;
  padding: 10px;
  margin: 10px;
}